*{
    
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: #f4f4f4;
    overflow: hidden;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    background-color:#e74c3c ;
    color: #fff;
    font-size: 10px;
    margin: auto;
    height: 30px;
    padding: 8px;
    padding-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
   
  
}
.navi{
    background-color: #333;
    color: #fff;
    padding: 5px;
    padding-left: 190px;
    border-bottom: 1px solid #fff;
    position: relative;
    


}
.navi ul{
    list-style-type: none;
    padding: 0px;
}
.navi ul li{
    display: inline;
   padding-left: 40px;
}
.navi a{
    text-decoration: none;
    color: #fff;
}
.navi a:hover{
 border-bottom: #fff 1px solid;
 color: rgb(104, 104, 214);
}
.center{
    

}
.center h1{
    padding: 100px;
    text-align: center;
}

